 * {
   margin: 0;
   padding: 0
 }

body {
  font-family: 'Raleway', sans-serif;
 }

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
 }

 .p-bold {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
 }
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f5f5f5;
 }

header p {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 27px;
  font-weight: bold;
 }
.header-link {
   margin-right: 20px;
 }

.header-link a{
   text-decoration: none;
   margin-right: 20px;
   font-size: 14px;
   color: #000;
   letter-spacing: 3px;
 }

.header-contact {
  font-size: 20px;
  font-style: normal;
  text-align: right;
  margin-top: 10px;
  margin-right: 40px;
 }
.header-contact a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
 }
.contact {
   padding: 8px;
   width: 150px;
   background: #926f6f;
   color: #fff;
   border-radius: 10px;
   cursor: pointer;
   border: none;
 }

.couch-logo {
  width: 100%;
 }

.couch-logo-text {
  position: absolute;
  width: 90%;
  top: 200px;
  left: 60px;
  text-align: center;
  font-size: 70px;
  background: rgb(158, 143, 143);
  opacity: 0.8;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
.couch-logo-text2 {
  position: absolute;
  width: 90%;
  top: 420px;
  left: 60px;
  text-align: center;
  font-size: 25px;
  background: rgb(158, 143, 143);
  opacity: 0.8;
  padding: 10px;
  color: #fff;
}
.LeaveRequest {
  position: absolute;
  top: 520px;
  left: 430px;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 13px;
  width: 400px;
  color: #fff;
  background: rgb(150, 139, 117);;
  cursor: pointer;
  border: none;
}

.container {
  width: 1140px;
  margin: auto;
}

/* Расскажите о вашей компании, Расскажите о вашем товаре, Условия оплаты и доставки */
.tellUsCompany {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px 130px 0px;
}

h2 {
  font-size: 30px;
}

.header-Company {
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
}

.tellUsCompany p{
  margin: 10px;
}

.tellUsCompany img {
  width: 40%;
  height: 20%;
  border-radius: 5px;
}

/* /Расскажите о вашей компании, Расскажите о вашем товаре, Условия оплаты и доставки */


/* Our Advantage */
.block-OurAdvantage {
  background: #ffffff;
  padding-bottom: 50px;
}
.OurAdvantage-every-day {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}

.OurAdvantage {
  /* flex-direction: row;
  flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
}

.ourAdvantege-text-img {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 10px;
  padding: 10px;
}

.ourAdvantege-img {
  border-radius: 50%;
  width: 150px;
}
.ourAdvantege-Reviews-img {
  border-radius: 50%;
  height: 200px;
}
.ourAdvantege-text {
  padding: 20px;
}
/* /Our Advantage */


/* best shop */
.best-shop-img img {
  margin: auto;
  width: 355px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.best-shop-img {
  padding-bottom: 100px;
}
/* /best shop */



/* weOffer-block */
.weOffer-biges-block {
  padding: 100px 0px 100px 0px;
}
.weOffer-big-block {
  /* flex-direction: row;
  flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
  
}
.weOffer-block {
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.weOffer-block:hover {
  background: #f5f5f5;
  transition: 0.2s linear; /* Плавность */
}
.weOffer-block img {
  padding: 10px;
  width: 200px;
}

.weOffer-block p {
  font-size: 18px;
}

.p-bold-Offer {
  font-size: 20px;
  margin: 10px 10px;
  font-weight: bold;
}

.toOrder {
  width: 200px;
  margin-top: 20px;
  padding: 14px;
  background: #926f6f;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.weOffer-info {
  padding: 50px 0px 50px 0px;
  text-align: center;
}
.callback-info {
  font-size: 40px;
}
.toOrder-info {border: solid 2px red;
  padding: 15px 0px 15px 0px;
  margin: 25px 0px 25px 0px;
  font-size: 20px;
  width: 350px;
  background: #926f6f;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

/* /weOffer-block */



/* footer */
.foot  {
  text-align: center;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px;
}
.foot a img {
  border-radius: 15px;
}


@media(max-width: 1200px) {
 .container {
   width: 1100px;
   margin: auto;
 }
  
 /* Our Advantage */
 .ourAdvantege-text-img {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 10px;
  padding: 10px;
}
.weOffer-block {
  width: 410px;
  text-align: center;
  padding: 30px 0px 30px 0px;
 }
.ourAdvantege-Reviews-img {
  border-radius: 50%;
  height: 180px;
}

 /* best shop */
 .best-shop-img img {
  margin: auto;
  width: 338px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.best-shop-img {
  padding-bottom: 80px; 
}
/* /best shop */

/* /Our Advantage */
}

@media(max-width: 992px) {
  .container {
    width: 890px;
    margin: auto;
  }

 h1 {
   text-align: center;
   font-size: 50px;
   font-weight: bold;
  }

/* header */
header p {
  font-size: 40px;
}
.header-link {
  display: none;
}

.contacts-link, .contact{
  font-size: 40px;
}
.contact {
  margin-top: 10px;
  width: 400px;
}


/* /header */

  /* Расскажите о вашей компании, Расскажите о вашем товаре, Условия оплаты и доставки */
.tellUsCompany { 
  flex-direction: row;
  flex-wrap: wrap;
  /* display: flex;
  justify-content: space-between; */
  margin: 100px 0px 150px 0px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.header-Company {
  margin-top: 30px;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

.tellUsCompany p{
  margin: 20px;
  text-align: center;
}

.tellUsCompany img {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  /* height: 20%; */
}

/* /Расскажите о вашей компании, Расскажите о вашем товаре, Условия оплаты и доставки */
.block-OurAdvantage h1{
  padding-top: 50px;
}
.OurAdvantage-every-day {
  font-size: 30px;
 }
  .p-bold {
   padding-bottom: 10px;
   font-size: 20px;
   font-weight: bold;
  }

 .header-link a { 
    text-decoration: none;
    margin-right: 18px;
    font-size: 14px;
    color: #000;
    letter-spacing: 2px;
  }

 
 .couch-logo-text {
   position: absolute;
   width: 90%;
   top: 180px;
   left: 45px;
   text-align: center;
   font-size: 60px;
   background: rgb(158, 143, 143);
   opacity: 0.8;
   padding: 10px;
   color: #fff;
   font-weight: bold;
 }
 .couch-logo-text2 {
   position: absolute;
   width: 90%;
   top: 360px;
   left: 45px;
   text-align: center;
   font-size: 30px;
   background: rgb(158, 143, 143);
   opacity: 0.8;
   padding: 10px;
   color: #fff;
 }
 .LeaveRequest {
   position: absolute;
   top: 500px;
   left: 250px;
   text-align: center;
   font-size: 30px;
   padding: 15px;
   margin-top: 20px;
   border-radius: 13px;
   width: 550px;
   height: 80px;
   color: #fff;
   background: rgb(150, 139, 117);;
   cursor: pointer;
   border: none;
 }
 
 
/* Our Advantage */


.OurAdvantage {
  flex-direction: row;
  flex-wrap: wrap;
 
  /* display: flex;
  justify-content: space-between; */
}

.ourAdvantege-text {
  padding: 20px;
}
.ourAdvantege-biog-p {
  font-size: 30px;
}
.p-bold {
  font-size: 40px;
}

.ourAdvantege-img {
  height: 70%;
  width: 100%;
}
/* /Our Advantage */

 
 
 /* best shop */
 .best-shop-img img {
   margin: auto;
   width: 780px;
   padding: 40px;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .best-shop-img {
   padding-bottom: 100px;
 }
 /* /best shop */
 

 
/* weOffer-block */
.weOffer-biges-block {
  padding: 100px 0px 100px 0px;
}
.weOffer-big-block {
  /* flex-direction: row;
  flex-wrap: wrap; */
  display: flex;
  justify-content: space-between;
  
}
.weOffer-block {
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.weOffer-block:hover {
  background: #f5f5f5;
  transition: 0.2s linear; /* Плавность */
}
.weOffer-block img {
  padding: 10px;
  width: 500px;
}

.weOffer-block p {
  font-size: 50px;
}

.p-bold-Offer {
  font-size: 50px;
  margin: 10px 10px;
  font-weight: bold;
}

.toOrder {
  width: 500px;
  height: 100px;
  margin-top: 20px;
  padding: 20px;
  background: #926f6f;
  font-size: 50px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

 .weOffer-biges-block {
   padding: 80px 0px 60px 0px;
 }
 .weOffer-big-block {
   flex-direction: row;
   flex-wrap: wrap;
   /* display: flex;
   justify-content: space-between; */
   
 }
 .weOffer-block {
  margin: auto; 
  width: 510px;
  text-align: center;
  padding: 30px 0px 30px 0px;
 }
 .weOffer-block:hover {
  background: #f5f5f5;
  transition: 0.2s linear; /* Плавность */
 }

 

 .ourAdvantege-text-img-mini {
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  /* display: flex;
  justify-content: space-between;
   */
}
.ourAdvantege-Reviews-img-mini {
  margin: auto;
  width: 50%;
  height: 40%;
  border-radius: 50%;
  margin-top: 50px;
  
}
.ourAdvantege-biog-p {
  font-size: 40px;
  margin-bottom: 100px;
}


.header-Company {
  font-size: 35px;
  
}
.tellUsCompany div {
  padding: 50px;
}

 
.weOffer-info {
  padding: 300px 0px 300px 0px;
  text-align: center;
}
.callback-info {
  font-size: 50px;
}
.toOrder-info {
  padding: 15px 0px 15px 0px;
  margin: 100px 0px 100px 0px;
  font-size: 50px;
  width: 500px;
  height: 150px;
  background: #926f6f;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.callback-info2 {
  font-size: 50px;
}
 /* /weOffer-block */
/* footer */
.foot  {
  text-align: center;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px;
  font-size: 35px;
}
.foot a img {
  border-radius: 15px;
  width: 90px;
}

}
